.box{
    height: 150px;
    background-color: aquamarine;
    margin: 30px 5px;
}

.clearfix{
    height:100vh;
    
}
    



/* CONTAINER DESTRO */

/* barra fixed */
.barra-alta{
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    width: 80%;
    position: fixed;
    right: 0;
    top: 0;
}
   
.upgrade{
  padding: 10px 30px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 10px;
  right: 5px;
  border-radius: 30px;
}

.upgrade a{
   text-decoration: none;
   color: white;
} 

/* fine barra fixed */

.container-fluid-dx{
    background-color: #141922;
    height: 100vh;
    overflow-y: scroll;
    padding-top: 90px;
    width: 80%;
}
    
h2{
    color: white;
}


 nav .row .box{
    height: 30px;
    background-color: aquamarine;
}
    

 .coldx-last-row{
     margin-bottom: 100px;
 }
    
 .cerchio{
     border-radius: 100%;
 } 

 .cerchio img{
    border-radius: 100%;
 }
 
 .box img {
     width: 100%;
     height: 100%;
 }


 /* CONTAINER SINISTRO */
 .container-fluid-sx{
     background-color: black;
     color: white;
     height: 100vh;
     position: relative;
     width: 20%;
     
 }

 .container-fluid-sx div a{
    text-decoration: none;
    color: grey;
    display: flex;
    align-items: center;
    margin: 5px 0;
    
 }
 .container-fluid-sx div a img{
      height: 20px;
      width: 20px;
      margin-right: 10px;
 }

 .padding-col-sx{
     padding: 0 10%;
 }
 
 .col-sx-end{
     padding-left: 10%;
     position: absolute;
     bottom: 80px;
  }
     
  .fa-plus{
      color: black;
      background-color: grey;
      padding: 10px ;
      margin-right: 10px;
  }  
 
 .logo{
     vertical-align: middle;
     height: 60px;
     display: flex;
     align-items: center;
     
     width: 100%;
  }
 .logo img{
     height: 60%;
  }
     

 .logo-icon{
     display: none;
 }
     
 ul{
     list-style: none
 }
 
 
 .nome{
     color: white;
     font-size: 18px;
 }
 
 h3{
     color: white;
 }
 hr{
     color: grey;
     background-color: grey;
     border: none;
     height: 1px;
     margin-right: 10%;
 }

 .grey-icon{
     background-color: grey;
     border-radius: 50%;
 }
 
 /* FOOTER */
 .footer-container{
     background-color:#282828;
     height: 80px;
     padding: 20px 10px;
     position: fixed;
     bottom: -10px;
     width: 100%;
 }
 
 .footer-container .box{
     min-height: 40px;
     background-color: aquamarine;
     margin: 0;
 }

 /* XS */
 @media screen and (max-width: 767px){
    .container-fluid-dx{
        width: 95%;
        
    }
    .container-fluid-sx{
        width: 5%;
    }
    .container-fluid-sx div a span{
        display: none;
    }

    .container-fluid-sx div a .fa-plus{
        display: none;
    }
    .barra-alta{
        width: 95%;
    }  

    .logo-img{
        display: none;
    }
    .logo-icon{
        display: unset;
        height: 20px;
        width: 20px;
    }
        
    .container-fluid-sx div a img{
        margin-right: unset;
   }

   .logo{
    vertical-align: middle;
    height: unset;
    display: flex;
    align-items: center;
    margin-top: 5px;
    }
    

    hr{
        display: none;
    }
        
}
/* SM */
@media screen and (min-width:768px) {
    .col-xs-offset-3{
        display: none;
    }
}  
/* MD  */
@media screen and (min-width:992px){
    .col-xs-offset-3{
        display: none;
    }
}
/* LG */
@media screen and (min-width: 1200px){
    .col-xs-offset-3 {
        display: none;
    }
    .col-md-offset-1{
        display: none;
    }
    .col-md-offset-5{
        display: none;
    }
    .col-md-offset-6{
        display: none;
    }
}


 
   


    
    
    
    
    
   