.box{
    min-height: 150px;
    background-color: aquamarine;
    margin: 30px 5px;

}
/* CONTAINER DESTRO */

.container-fluid-dx{
    background-color: #141922;
    min-height: 600px;
    overflow-y: scroll;
    
}

h2{
    color: white;
}


 nav .row .box{
    min-height: 30px;
    background-color: aquamarine;
    margin: 30px 5px;
 }

 .barra-alta{
     background-color: #080B12;
     height: 80px;
     width: 80%;
    
 }

.upgrade{
   padding: 10px 30px;
   border: 1px solid white;
   background-color: #080B12;
   position: fixed;
   top: 20px;
   right: 20px;
   border-radius: 30px;
}
 
.upgrade a{
    text-decoration: none;
    color: white;
}   
   
.cerchio{
    border-radius: 50%;
}  

/* CONTAINER SINISTRO */
.container-fluid-sx{
    background-color: black;
    color: white;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 25px;
}
.padding-col-sx{
    padding: 0 10%;
}
    

.logo{
    vertical-align: middle;
    height: 80px;
    display: flex;
    align-items: center;
}
.logo img{
    height: 60%;
}
    

ul{
    list-style: none
}

div a{
    text-decoration: none;
    color: grey;
}

.nome{
    color: white;
    font-size: 18px;
}

