.box{
    min-height: 150px;
    background-color: aquamarine;
    margin: 30px 5px;

}

.container-fluid-dx{
    background-color: #141922;
    min-height: 500px;
    
}

h2{
    color: white;
}


 nav .row .box{
    min-height: 30px;
    background-color: aquamarine;
    margin: 30px 5px;
 }

 .barra-alta{
     background-color: #080B12;
     height: 100px;
     width: 80%;
    
 }

.upgrade{
   padding: 10px 30px;
   border: 1px solid white;
   background-color: #080B12;
   position: fixed;
   top: 30px;
   border-radius: 30px;
}
 
.upgrade a{
    text-decoration: none;
    color: white;
}   
   
.cerchio{
    border-radius: 50%;
}  
   